@tailwind base;
@tailwind components;
@tailwind utilities;

.dark {
  background-color: #1f2937; /* Gray-800 */
  color: #e5e7eb; /* Gray-200 */
}

.dark .bg-white {
  background-color: #374151; /* Gray-700 */
}

.dark .text-gray-900 {
  color: #e5e7eb; /* Gray-200 */
}

.dark .text-gray-500 {
  color: #9ca3af; /* Gray-400 */
}

.dark .bg-gray-100 {
  background-color: #111827; /* Gray-900 */
}

.dark .border {
  border-color: #4b5563; /* Gray-600 */
}